@page "/LoadingExample"

<h3>Loading</h3>

<LoadingScreen IsLoading="true" 
               Delay="10000" 
               LoadingType="LoadingScreen.Type.grow" 
               LoadingColor="LoadingScreen.Color.danger"
               LoadingSize="5">
    <p>finished</p>
</LoadingScreen>